
/*DEFAULTS*/

body {
  margin: 0;
  padding: 0;
  background: #7f8c8d;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
}

header {
	top: 25px;
	height: 250px;
	background-color: #2ECC71;
	left: -72px;
	border-bottom: 5px solid #27AD5F;
}

nav {
	background-color: #34495E;
	list-style-type: none;
	text-align: right;
	vertical-align: middle;
	line-height: 50px;
	font-size: 1em;
	height: 50px;
	top: 5px;
	left: 117px;
	border-bottom: 5px solid #000;
}

nav ol {
	position: relative;
	right: 20px;
	margin-top: 0;
}

nav ol li {
	text-transform: uppercase;
	color: #FFF;
	padding-left: 30px;
	list-style-type: none;
	display: inline-block;
}

form {
	text-align: right;
	margin-right: 20px; 
}

h2 {
	font-size: 1.25em;
}

input {
	width: 350px;
	height: 25px;
}

/*COMPONENTS*/

.container {
  width: 700px;
  margin: 20px auto 20px auto;
  background: #ecf0f1;
  position: relative;
}

.website-title {
	font-size: 2em;
	color: #FFF;
	position: relative;
	left: 15px;
	top: 195px;
}

.content {
	padding: 30px;
}

.article-title {
	font-size: 1.75em;
}

.emphasized-text {
	color: rgb(208,91,40);
}

.padded-content {
	padding: 12px 0px ;
}

.section-title {
	font-size: 1.1em;
	padding: 0em 0.75em 0px 1em;
	margin: 0.25em;
}

.section-content {
	border-top: 2px solid #C2C7CB;
	margin: 0;
}

.table-standard {
	border-collapse:collapse;
	width: 100%;
}
.table-standard th, .table-standard td {
	text-align: left;
	border: 1px solid #bdc3c7;
	padding: 5px 10px;
}
.table-standard th {
	background: #bdc3c7;
	border: 1px solid #999;
}

.button-fancy {
	color: #FFF;
	border: none;
	font-size: 0.9em;
	padding: 5px 20px;
 	background: #3498db;
	cursor: pointer;
}

.break {
	display: block;
}

.code-block {
	height: 100px;
	width: 640px;
	background-color: #BDC3C7;
	font-family: Courier, serif;
	position: relative;
	vertical-align: middle;
	line-height: 20px;
}

.code-block p {
	margin: 0 auto;
	position: relative;
	top: 20px;
	left: 40px;
}

.web-dev-list {
	position: relative;
	right: 20px;
	margin-bottom: 10px;
}

.web-dev-list li {
	margin-bottom: 10px;
}

.author-text {
	color: #7f8c8d;
	margin: 35px 0px 50px 0px;
}

.strong-subsection {
	font-weight: bolder;
}

.comments-stream-time {
	color: #7f8c8d;
	font-style: italic;
	margin-bottom: -5px;
}

.input-header {
	position: relative;
	right: 516px;
}

.user-info {
	text-transform: uppercase;
	color: #7f8c8d;
	font-weight: 500;
	font-size: 0.9em;
	margin-left: 20px;
	position: relative;
	right: 540px;
}

.comment-area-input-type {
	height: 150px;
	width: 620px;
	margin-bottom: 35px;
}

.submit-button {
	width: 625px;
	height: 40px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 0.9em;
	background-color: rgb(194, 56, 36);
	border: none;
	margin-bottom: 40px;
}

.comments-stream-big-photo {
	float: left;
	margin-right: 20px;
}

.user-comments-header {
	margin-bottom: 4px;
}

.user-comments-paragraph {
	margin: 6px 0 5px 0;
	clear: left;
}

.push-right {
	/*margin-left: 30px;*/
	padding-left: 30px;
	border-left: 2px solid #d3d3d3;
	margin-left: 20px;
}

.sidebar {
	position: absolute;
	right: -285px;
	background-color: #ecf0f1;
	border-bottom: 5px solid #34495E;
	width: 250px;
	height: 275px;
	padding: 10px 15px 10px 10px;
}

.sidebar-header {
	color: #34495E;
	font-size: 1.1em;
	margin-bottom: -5px;
}

.list-simple {
	text-decoration: none;
	list-style-type: none;
	margin-right: 5px;
}

.link-dim {
	text-decoration: none;
	list-style-type: none;
	color: #7f8c8d;
}

.form-label {
  width: 100px;
  display: block;
  float: left;
  text-align: right;
  padding: 5px;
  line-height: 23px;
  color: #333;
}
.form-control {
  width: 320px;
  padding: 5px;
}
.form-section {
  border: 0;
  border-top: 1px solid #bdc3c7;
  margin: 0 0 30px 0;
  padding: 20px 0 0 0;
}
.form-input-div {
	margin: 0 15px 5px 0;
}